@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #2BA4D8;
  --tgreen:#CEFC9A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: var(--accent);
  --color-green: var(--tgreen);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --accent: #2BA4D8;
    --tgreen:#CEFC9A;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
